#pdf_print_container {
  .top_section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .contacts_321 {
    h1 {
      font-size: 24px;
      font-weight: bold;
      margin: 0;
    }
  }

  table {
   
    border-collapse: collapse;
    margin-top: 20px;
    width: 97%;
    margin-left: 10px;
    border: 1px solid #dcdcdc;

    th,
    td {
      // width: 250px;
      width:100px;
      padding: 8px;
      text-align: left;
      border: 1px solid #dcdcdc;
      font-size: 11px;
    }

    th {
      // background-color: #f4f4f4;
      // font-weight: bold;
      width:100px;
      border: 1px solid #dcdcdc
    }

    td {
      background-color: #fff;
    }

    tr:nth-child(even) {
      // background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #f1f1f1;
    }
  }

  h4 {
    color: gray;
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
  }
}

.customer-details {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .customer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .customer-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    font-size: 12px;
    width: 697px;

    .customer-card {
      font-size: 11px;
      display: flex;
      gap: 15px;
      width: 211px;

      .customer-label {
        width: 58px;
      }
    }
  }
}